body {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 3rem;
    line-height: 3rem;
}

.grandCarouselCarte {
    background-color: #47ACE1 ;
    padding: 10px;
    border-radius: 20px;
    color: white;
    position: relative;
    width: 400px;
}

.grandCarouselCarte p strong {
    font-size: 1.5rem;
}


.grandCarouselCarte .grandCarouselImage {
    position: absolute;
    right: 0;
    bottom: 0;
}

.grandCarouselImage img {
    width: 200px;
    height: 200px;
}

.carouselItem img {
    max-width: 20px !important;
    max-height: 20px !important;
}

.doctorCarte {

}

 /* width */
::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover  */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }